<div class="jumbotron">
  <h1>とっぷがめん</h1>
  <h2><%= link_to "いちらんへ", boards_path%></h2>
  <div><img src="http://1.bp.blogspot.com/-TCt0mfD4bqQ/Vycehcr_tDI/AAAAAAAA6VA/0XsMlRl_PUAg5C-zFTlVyTyM3pmeLlSgQCLcB/s800/tegami_bird.png" class="img-responsive"></div>
  <h2>なにかかいてほぞんしてください</h2>
</div>
